html {
    font-family: 'Noto Serif', serif;
    background-color: gray;
}

#logo {
    height: 30px;
}

#name {
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
}

#portrait {
    max-height: 200px;
}

.icon {
    height: 70px;
}