html {
    font-family: 'Noto Serif', serif;
    background-color: gray;
}

#name {
    font-family: 'Comfortaa', cursive;
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
}

#portrait {
    max-height: 200px;
}

.icon {
    height: 100px;
}